<h1 class="text-center">Welcome to Cabrini Hospital.<br />
    How can we help you today?</h1>

<div class="row home-chooser">
    <a class="poc-button" ng-href="#/doctors"><span class="icon icon-doctor"></span>Find a doctor</a>
    <a class="poc-button" ng-click="showToast()"><span class="icon icon-service"></span>Find a service</a>
    <a class="poc-button" ng-click="showToast()"><span class="icon icon-patient"></span>Visit a patient</a>
    <a class="poc-button" ng-click="showToast()"><span class="icon icon-else"></span>Something else</a>

</div>